<!DOCTYPE html>
<html>
   <body>
   
      <h3>Insert a city name and its population number</h3>
      
      
      
      
      <form action = "/add" method = "post">
         <label for = "name">Name</label><br>
         <input type = "text" name = "name" placeholder = "Name" /><br>
         <label for = "population">Population</label><br>
         <input type = "text" name = "population" placeholder = "Population" /><br><br>
         <input type = "submit" value = "Submit" />
      </form>
      <br><br><br>
      <a href = "{{ url_for('search') }}">go back home page</a>
      
   </body>
</html>