<!DOCTYPE html>
<html>
   <body>
   
      <h3>Insert a city name to know its population number</h3>
      
      
      
      
      <form action = "/" method = "post">
         <label for = "name">Name</label><br>
         <input type = "text" name = "name" placeholder = "Name" /><br><br>
         <input type = "submit" value = "Search" />
      </form>
      <br><br><br>
      <a href = "{{ url_for('add') }}">Add new city</a>
      
   </body>
</html>